@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import 'reset';
@import "_variables";
@import "_mixins";

body{
  background-image: url("../img/bg-img.png");
  color: $color-text;
}
// game border
.green-border-win{
  @include green-border-win;
}
.green-border{
  @include green-border;
}
.draw-border{
  @include draw-border;
}
// Wrapper
.wrapper{
  @include flex-vertical;
  width: 100%;
  font-family: 'Julius Sans One', sans-serif;
  // Top bar
  .top-bar{
    width: 80%;
    @include flex-horizontal;
    @include spacing-content;
    .top-bar__stats{
      @include flex-horizontal;
      justify-content: space-between;
      width: 40rem;
      }
      // player Statistics start
      .top-bar__info{
        width: 14rem;
        height:15rem;
        border-radius: 5px;
        background-color: #f4b942;
        position: absolute;
        box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.75);
        bottom: 10%;
        right: 5%;
        color: $color-player-info;
        h2{
          font-size: 2rem;
          text-align: center;
          padding-top: 0.5rem;
          color: $color-text;
        }
        p{
          font-size: 1.5rem;
          padding: 0.5rem 0rem 0.5rem 0.5rem;
          color: $color-text;
          display: inline-block;
        }
        span{
          font-size: 1.5rem;
          color: #605642;
        }
    }
    // top-bar player
    .top-bar__player{
      width: 100%;
      text-align: center;
      font-size: 3rem;
    }
  }
  // choice bar start
  .choice-bar{
    @include flex-horizontal;
    width: 40%;
    @include spacing-content;
    justify-content: space-between;
    // choice bar img
    img{
      width:20%;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  // versus bar start
  .versus-bar{
    @include flex-horizontal;
    @include spacing-content;
    justify-content: space-between;
    position: relative;
    width: 50%;
    display: none;
    font-size: 10rem;
    img{
      width: 30%;
    }
  }
  // winner bar start
  .winner-bar{
    @include spacing-content;
    display: none;
    font-size: 5rem;
  }
}
// TABLET RESPONISVE
@media only screen and (max-width: 768px) {
.wrapper{
  .top-bar{
    .top-bar__info{
      width: auto;
      height: auto;
      left: 5%;
    }
    .top-bar__player{
      font-size: 2.5rem;
    }
  }
  .choice-bar{
    width: 80%;
  }
  .versus-bar{
    width: 90%;
    font-size: 4rem;
    img{
      width: 40%;
    }
  }
  .winner-bar{
    font-size: 3rem;
    text-align: center;
  }
}
}
// MOBILE RESPONISVE
@media only screen and (max-width: 420px) {
  .wrapper{
    .top-bar{
      width: 100%;
      .top-bar__player{
        font-size: 2rem;
        width: auto;
      }
    }
    .choice-bar{
      margin-top: 3rem;
      width: 80%;
      img{
        width: 30%;
      }
    }
    .versus-bar{
      margin-top: 3rem;
      width: 90%;
      font-size:3em;
      img{
        width: 40%;
      }
    }
    .winner-bar{
      font-size: 2rem;
      margin-top: 3rem;
    }

  }

}
